/*reset*/
 
* {
	padding: 0;
	margin: 0;
}
 
#wrapper {
	width: 960px;
	margin: 0 auto;
}
 
#header {
	float: left;
	background: #f1f1f1;
	margin 10px 0 0 0;
	width: 100%;
	height: 100px;
 
}
 
#main_content {
	float: left;
	background: #f0f0f0;
	margin: 10px 5px 10px 0;
	width: 620px;
	height: 630px;
}
 
#sidebar {
	float: right;
	background: #ccc;
	margin: 10px 5px 5px 6px; /* Plus precis margin: 10px 0px 5px 11px */
	width: 324px;
	height: 630px;
}
 
#footer {
	clear: both;
	float: left;
	background: #ddd;
	width: 100%;
	height: 100px;
}
 
h1, h2, h3 {
	padding: 20px;
}
